{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <div class="header row align-center">
        <div class="large-6 medium-8 small-12 column">
            <h1> Tell me Your story</h1>
        </div>
    </div>
    <div class="row align-center">
        <div class="large-6 medium-8 small-12 column">
            <form class="login-form" action="" method="post" name="login">
            {{ form.hidden_tag() }}
                <div class="form login-name">
                    {{ render_field(form.login) }}
                </div>
                <div class="form login-password">
                    {{ render_field(form.password) }}
                </div>
                <div>
                    <span>Remember me</span>
                    {{ form.remember_me }}
                    <a href="/registration">Join us</a>
                </div>
                <div>
                    <button type="submit" class="button expanded">Sign in</button>
                <div>
            </form>
        </div>
    </div>
{% endblock %}
