{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
        <div>
            <span>Please enter your data</span>
        </div>
        <div class="form login-name">
            <span>Login</span>
            {{ form.login(size=80) }}
        </div>
        <div class="form login-password">
            <span>Password</span>
            {{ form.password(size=80) }}
        </div>
        <div>
            <span>Remember me</span>
            {{ form.remember_me }}
        </div>
        <input type="submit" value="Sign in"/>
    </form>
{% endblock %}