{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="row align-center">
    <div class="registration-form large-8 medium-8 small-12 column">
        <div class="registration-title">
            <h2>Join us</h2>
            <p>Please complete all the required fields in the form below</p>
        </div>
        <form action="" method="post" name="registration">
        {{ form.hidden_tag() }}
            <div class="form registration-name">
                {{ render_field(form.name) }}
            </div>
            <div class="form registration-surname">
                {{ render_field(form.surname) }}
            </div>
            <div class="form registration-name">
                {{ render_field(form.login) }}
            </div>

            <div class="form registration-password">
                {{ render_field(form.password) }}
            </div>
            <div class="form registration-password-copy">
                {{ render_field(form.confirm) }}
            </div>
            <button type="submit" class="button" value="Registration">Registration</button>
            <a href="/login">return to start page</a>
        </form>
    </div>
</div>
{% endblock %}
