{% extends "base.html" %}

{% block content %}
<nav class="top-bar">
    <ul class="title-area">
        <li class="username">
          <span>Story of {{user.name}} {{user.surname}}</span>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
          <li><a href="registration">Join us</a></li>
        </ul>
    </section>
</nav>
<div class="clearfix"></div>
        {% for post in posts %}
        <div class="row align-center">
            {% if post.img %}
            <div class="post post-with-image large-10 medium-10 small-12 column align-center">
                <div class="image large-4 medium-4 small-12">
                    <image src="{{ folder }}/{{ post.img }}" alt="{{ post.title }}" width="100%"/>
                </div>
                <div class="description large-8 medium-8 small-12">
                    <h2 class="post-title"> {{ post.title }}</h2>
                    <p> {{ post.text }} </p>
                    <span> {{ post.pub_date }} </span>
                </div>
            </div>
            {% else %}
                <div class="post large-10 medium-10 small-12 column">
                    <h2 class="post-title"> {{ post.title }}</h2>
                    <p> {{ post.text }} </p>
                    <span> {{ post.pub_date }} </span>
                </div>
            {% endif %}
        </div>
        {% endfor %}
{% endblock %}